header .nav-bar .nav-list{
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-list .nav-item{
    list-style: none;
}

.nav-link{
    color: #18191F;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

.nav-item button{
    padding: 10px 15px;

    border: none;
    border-radius: 5px;

    background-color: #4CAF4F;
    color: #fff;
}

#menu-mobile-button{
    display: none;
}

.menu-mobile{
    display: none;
}