@import url('animations.css');
@import url('reset.css');
@import url('mobile.css');

/* Components */
@import url('components/menu.css');
@import url('components/hero.css');
@import url('components/features.css');
@import url('components/gallery.css');
@import url('components/footer.css');

body{
    height: 100vh;
    background: #F7F5FA;

    font-family: "Roboto", sans-serif;
}

h1, h2{
    color: #4D4D4D;
}

p{
    color: #717171;
    font-size: 13px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 32px;

    font-family: "Poppins", sans-serif;
}

.logo{
    display: flex;
    align-items: center;

    color: #18191F;
    text-decoration: none;
}

section{
    display: flex;
    justify-content: center;
    padding: 32px 48px;
}